
.p-relative{
    position: relative;
}

@media screen and (min-width:1000px) {
    .scroll{
        position: absolute;
        top: 0; bottom: 0;
        overflow-y: auto;
        width: calc(100% - 10px);
    }
    .p-relative{
        position: relative;
    }
}